.game{
    padding: 30px 0;
}

#dandi{
    border: 1px solid rgb(201, 40, 40);
}

.map{
    padding: 30px 0;
}

.footer{
    padding: 30px 0;
}

#dandi1{
    border: 1px solid rgb(202, 202, 202);
}

.cp{
    padding: 20px 0;
}
